.idea/
**/bin/
**/obj/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/PugPlugin/FileContentIndex/0c146e75-caa8-4826-8382-a133dfff7c21.vsidx
/.vs/ProjectEvaluation/pugplugin.metadata.v9.bin
/.vs/ProjectEvaluation/pugplugin.projects.v9.bin
/.vs/ProjectEvaluation/pugplugin.strings.v9.bin
/.vs/PugPlugin/FileContentIndex/0d7dbfdc-279e-4fd2-860f-28aaeec60753.vsidx
/.vs/VSWorkspaceState.json
/.vs/PugPlugin-CSSharp/v17/DocumentLayout.json
/.vs/PugPlugin-CSSharp/v17/.wsuo
/.vs/PugPlugin/v17/.futdcache.v2
/PugPlugin/.gitignore
/.vs/PugPlugin/v17/.suo
/.vs/PugPlugin/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/PugPlugin/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/.vs/PugPlugin/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/.vs/PugPlugin/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/PugPlugin/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/.vs/PugPlugin/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/.vs/PugPlugin/DesignTimeBuild/.dtbcache.v2
/.vs/PugPlugin/v17/DocumentLayout.backup.json
/.vs/PugPlugin/v17/DocumentLayout.json
*.vsidx
