.idea/
**/bin/
**/obj/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/PugPlugin/FileContentIndex/0c146e75-caa8-4826-8382-a133dfff7c21.vsidx
/.vs/ProjectEvaluation/pugplugin.metadata.v9.bin
/.vs/ProjectEvaluation/pugplugin.projects.v9.bin
/.vs/ProjectEvaluation/pugplugin.strings.v9.bin
/.vs/PugPlugin/FileContentIndex/0d7dbfdc-279e-4fd2-860f-28aaeec60753.vsidx
